html body {
    margin: 0;
    padding: 0;
}

.form {
    margin-bottom: 20px;
}

.vxe-pager .vxe-pager--wrapper {
    width: 100%;
    text-align: center;
}

.el-main{
    padding: 6px 0px !important;
}

.el-tag--plain .el-tag__close:hover {
    background-color: red !important;
}

.el-tag--dark .el-tag__close:hover {
    background-color: red !important;
}

.el-dropdown {
    padding: 0px 10px;
    cursor: pointer;
    color: #fff !important;
}


// 进度条
#nprogress .bar {
    background-color: #fff;
}