* { touch-action: pan-y;
    touch-action: pan-x; 
}
html body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: gray;
}

.form {
    margin-bottom: 20px;
}

.vxe-toolbar {
    background-color: transparent !important;
}

.vxe-pager .vxe-pager--wrapper {
    width: 100%;
    text-align: center;
}

.el-main{
    padding: 0px 0px 8px 0px!important;
}

.el-tag--plain .el-tag__close:hover {
    background-color: red !important;
}

.el-tag--dark .el-tag__close:hover {
    background-color: red !important;
}

.el-dropdown {
    padding: 0px 10px;
    cursor: pointer;
    color: #fff !important;
}

.el-tag--dark {
    background-color: #0066CC !important;
}

.el-tag--plain {
    color: #0066CC !important;
    border-color: #0066CC !important;
}

.el-tag--dark {
    border-color: #0066CC !important;
}

.el-menu-item-group__title {
    padding: 0px !important;    
}

// 进度条
#nprogress .bar {
    background-color: #fff;
}