html body {
    margin: 0;
    padding: 0;
}

.vxe-pager .vxe-pager--wrapper {
    width: 100%;
    text-align: center;
}


.el-tag--plain .el-tag__close:hover {
    background-color: red !important;
}

.el-tag--dark .el-tag__close:hover {
    background-color: red !important;
}