@font-face {
  font-family: "iconfont"; /* Project id 2582444 */
  src: url('iconfont.woff2?t=1622703605112') format('woff2'),
       url('iconfont.woff?t=1622703605112') format('woff'),
       url('iconfont.ttf?t=1622703605112') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e6ae";
}

.icon-shezhi:before {
  content: "\e60b";
}

.icon-quanping:before {
  content: "\e7a6";
  font-size: 20px;
  color: #fff;
}

.icon-indent:before {
  content: "\ec06";
  font-size: 20px;
  color: #fff;
}

